/* Style sheet- this is where you decide the design of the page & its aspects */

body {
  background: url("background2.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  margin: 0px;
  overflow-x: hidden;
}

/* Picture in the middle */
.welcome img{
  width: 20%;
  border-radius: 80px;
  box-shadow: 0 0 0 1px #fff;
}

/*  */
.welcome {
  display: flex;
  width: 100vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
}

/* Welcome TEXT */
.welcome-text {
  font-size: 35pt;
  padding: 50px;
  color: white;
}

.about-us{
  background-color: #ffffff63;
  padding: 20px;
}

.section-1{
  background-color: #ffffff63;
  padding: 20px;
}

.video{
  display: flex;
  justify-content: center;
  align-items: center;

}
